<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

    <Properties>
        <Property name="basePath">/Logging/</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}app-info.log" filePattern="${basePath}app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} - %msg%n%ex</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="root" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
    </Loggers>
</Configuration>